  .showDuplicates {
    color: lightgray;
    background: transparent;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
    &:hover {
      background-color: black !important;
      color: #66bfff !important;
    }
  }